html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
  :root {
    font-size: 62.5%
  }
  
  .light {
    --background: white;
    --background-image: linear-gradient(to left bottom, #ffffff, #f7f7f7, #f0f0f0, #e8e8e8, #e1e1e1);

  

  }

  .dark {
    --background: black;
    --background-image: linear-gradient(to right top, #303030, #404040, #525252, #646464, #767676);

  }

  body {
    text-align: center;
    background-color: var(--background);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150% 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  /* Use a system font, if none are available use an available sans-sarif   font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
  }

  
  #title-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  #status-container,
  #button-container,
  #settings-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: flex-start;
    text-align: center;
  }

  #status-container,
  #button-container{
    margin-bottom: 2vmin;
    margin-top: 2vmin;
    width: 80%;
  }

  .sidebar-title{
    font-weight: bold;
    font-size: 1.2rem;
  }
  #number{
    padding: 1vmin 1vmin 1vmin 1vmin;
    font-weight: bold;
    font-size: 2rem;
  }

  .block-holder{
    display: inline-grid;
    grid-template-rows: repeat(4, 3vw);
    grid-template-columns: repeat(4, 3vw);
    grid-gap: 0vmin;
    justify-content: center;
    background-color: white;
    border: 0.5px solid black;
  }

  #next-block-container{
    display: flex;
    flex-flow: row nowrap;
  }
  #next-block-container > div{
    margin-left: 1vmin;
  }

  #board-container {
    display: inline-grid;
    grid-template-rows: repeat(20, 6vw);
    grid-template-columns: repeat(10, 6vw);
    grid-gap: 0vmin;
    border: 1px solid black;
    justify-content: center;
    background-color: white;
  }
  
  #board-container > div {
    border-right: 0.1rem solid rgb(203, 203, 203);
    border-bottom: 0.1rem solid rgb(203, 203, 203);
    align-content: center;
    justify-content: center;
    text-align: center;
  }  
  


  @media only screen and (min-width: 768px){
    body{
      background-size: 300% 300%;
    }
    #board-container {
      grid-template-rows: repeat(20, 3vw);
      grid-template-columns: repeat(10, 3vw);
      
    }
  }

  @media only screen and (min-width: 1024px){
    
  }


  
