html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
  :root {
    font-size: 62.5%
  }
  
  .light {
    --background: white;
    --background-image: linear-gradient(to left bottom, #ffffff, #f7f7f7, #f0f0f0, #e8e8e8, #e1e1e1);
    --text-color: black;

    --i-block-color: #ff9bcd;
    --l-block-color: #ffc96cd0;
    --reverse-l-block-color: #ffde71;
    --square-block-color: #8ED1B5;
    --z-block-color: #57e6e6d2;
    --reverse-z-block-color: #50c7df;
    --t-block-color: #868be6e7;

    --block-border: 0.1rem solid white;
    --block-holder-border: .5px solid black;
    --block-holder-color: white;

    --board-container-border: 1px solid black;
    --grid-line-color: 0.1rem solid rgb(216, 216, 216);

    --game-over-box-color: rgba(226, 226, 226, 0.8);
    --game-over-text-color: rgb(49, 49, 49);
    --game-over-border: 1px solid gray;
  

  }

  .dark {
    --background: rgb(0, 0, 0);
    --background-image: linear-gradient(to right top, #303030, #404040, #525252, #646464, #767676);
    --text-color: white;

    --i-block-color: #aa6d65;
    --l-block-color: #c48851;
    --reverse-l-block-color: #ecdc7fd8;
    --square-block-color: #99d8bea9;
    --z-block-color: #70aec9;
    --reverse-z-block-color: #82b6b993;
    --t-block-color: #8796eba9;

    --block-border: 0.1rem solid black;
    --block-holder-border: .5px solid rgb(255, 255, 255);
    --block-holder-color: rgba(10, 10, 10, 0.801);

    --board-container-border: 1px solid rgb(255, 255, 255);
    --grid-line-color: 0.1rem solid rgb(216, 216, 216);


    --game-over-box-color: rgba(226, 226, 226, 0.8);
    --game-over-text-color: rgb(49, 49, 49);
    --game-over-border: 1px solid gray;

  }
  .other {
    --background: black;
    --background-image: linear-gradient(to right top, #303030, #404040, #525252, #646464, #767676);
    --text-color: white;

    --i-block-color: #e7bebe;
    --l-block-color: #dabd93;
    --reverse-l-block-color: #f3eca8;
    --square-block-color: #96dba0e5;
    --z-block-color: #a0e5e5dc;
    --reverse-z-block-color: #87aed4e3;
    --t-block-color: #b1aae9e8;

    --block-border: 0.1rem solid white;
    --block-holder-border: .5px solid black;
    --block-holder-color: rgba(31, 31, 31, 0.932);

    --board-container-border: 1px solid black;
    --grid-line-color: 0.1rem solid rgb(216, 216, 216);

    --game-over-box-color: rgba(226, 226, 226, 0.8);
    --game-over-text-color: rgb(49, 49, 49);
    --game-over-border: 1px solid gray;

  }

  body {
    text-align: center;
    background-color: var(--background);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150% 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  /* Use a system font, if none are available use an available sans-sarif   font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: var(--text-color);
    margin: 0;
  }

  
  #title-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  #settings-container > *{
    font-size: 1rem;
  }
  #reset-button{
    font-size: 1rem;
  }

  #status-container,
  #button-container,
  #settings-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: flex-start;
    text-align: center;
  }

  #status-container,
  #button-container{
    margin-bottom: 2vmin;
    margin-top: 2vmin;
    width: 80%;
  }

  .status-title{
    font-weight: bold;
    font-size: 1.2rem;
  }
  #number{
    padding: 1vmin 1vmin 1vmin 1vmin;
    font-weight: bold;
    font-size: 5vmin;
  }

  .block-holder{
    display: inline-grid;
    grid-template-rows: repeat(4, 2.8vmin);
    grid-template-columns: repeat(4, 2.8vmin);
    grid-gap: 0vmin;
    justify-content: center;
    background-color: var(--block-holder-color);
    border: var(--block-holder-border);
    margin: 0.5vw;
    border-radius: 2px;
  }

  #next-block-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }


  #board-container {
    display: inline-grid;
    grid-template-rows: repeat(20, 5vmin);
    grid-template-columns: repeat(10, 5vmin);
    grid-gap: 0vmin;
    border: var(--board-container-border);
    justify-content: center;
    background-color: var(--block-holder-color);
    border-radius: 2px;
  }
  
  #board-container > div {
    border-right: var(--grid-line-color);
    border-bottom: var(--grid-line-color);
    align-content: center;
    justify-content: center;
    text-align: center;

  }  
  #arrows-container {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
  #arrows-container > *{
    font-size: 2rem;
    width: 9vmin;
    height: 7vmin;
  }
  #rotators-container {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
  #rotators-container >*{
    font-size: 2rem;
    width:  9vmin;
    height: 7vmin;
  }
  #hold-button {
    font-size: 1rem;
    width: 8vmin;
    height: 7vmin;
    margin: 0.5rem 1rem 0.5rem 1rem;
  }

  #msg-overlay {
    position: absolute;
    background-color:var(--game-over-box-color);
    top:35%;
    left: 15%;
    right: 15%;
    bottom: 50%;
    border: var(--game-over-border);
    font-weight: bolder;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--game-over-text-color);
  }

  .lblock {
    background-color: var(--l-block-color);
    border-right: var(--block-border);
    border-bottom: var(--block-border);

  }
  .reverselblock {
    background-color: var(--reverse-l-block-color);
    border-right: var(--block-border);
    border-bottom: var(--block-border)
  }
  .squareblock {
    background-color: var(--square-block-color);
    border-right: var(--block-border);
    border-bottom: var(--block-border)
  }
  .iblock {
    background-color: var(--i-block-color);
    border-right: var(--block-border);
    border-bottom: var(--block-border)
  }
  .zblock {
    background-color: var(--z-block-color);
    border-right: var(--block-border);
    border-bottom: var(--block-border)
  }
  .reversezblock {
    background-color: var(--reverse-z-block-color);
    border-right: var(--block-border);
    border-bottom: var(--block-border)
  }
  .tblock {
    background-color: var(--t-block-color);
    border-right: var(--block-border);
    border-bottom: var(--block-border)
  }



  @media only screen and (min-width: 660px){
    body{
      background-size: 300% 300%;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto auto auto;



    }
    #board-container {
      grid-template-rows: repeat(20, 4vmin);
      grid-template-columns: repeat(10, 4vmin);
      
    }
  }

  @media only screen and (min-width: 1024px){
    
  }


  
