html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
  :root {
    font-size: 62.5%
  }
  
  .theme-light {
    --background: white;
  }

  .theme-dark {
    --background: black;

  }

  body {
    text-align: center;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
  /* Use a system font, if none are available use an available sans-sarif   font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
  }

  
  #title-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  #status-container,
  #button-container,
  #settings-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
  }


  #status-container,
  #button-container{
    max-width: calc(10 * 4.5vmin);
  }
  
  #board-container {
    display: inline-grid;
    grid-template-rows: repeat(20, 4.5vmin);
    grid-template-columns: repeat(10, 4.5vmin);
    grid-gap: 0vmin;
    border: 1px solid black;
    justify-content: center;
    background-color: white;
  }

  #board-container > div {
    border-right: 0.1rem solid rgb(203, 203, 203);
    border-bottom: 0.1rem solid rgb(203, 203, 203);
  }  
  
